#book
  h2 #{title}
  if date
    h3 #{firstName}  #{lastName} Date: #{date}
  else
    h3 #{firstName}  #{lastName} 
  if posterSrc
    img(src='#{posterSrc}', alt='poster')
  .body #{body}


